<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<div class="account-container register">
	
	<div class="content clearfix">	
		<h1>Signup for Free Account</h1>			
			 <%= render 'form' %>
		
	</div> <!-- /content -->
	
</div> <!-- /account-container -->

<%= link_to 'Back', users_path %>