<% provide(:title, "首页") %>
<div class="center jumbotron">
	<h1>Hello, Rails!</h1>
	<div>
		<p>Hello ,my name is sunct</p>
		<p>glad to meet you!</p>
		<a href="https://github.com/sunct/my-first-ruby" target="_block">this is my git`s address</a>
	</div>

	<%= link_to image_tag("logo.png", alt: "my logo"), '#' %>

	<%= link_to 'User', controller: 'users' %>
	<%= link_to 'about', welcome_about_path %>
</div>

