 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "my blog", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "首页",   '#' %></li>
            <li><%= link_to "关于",   '#' %></li>
            <li><%= link_to "登陆", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>